.work {
  background-color: #eee;

  h1 {
    color: $brown;
    font-size: 50px;
    font-family: $raleway;
    font-weight: 700;
    text-align: center;
  }
}

.show-work {
  position: relative;
  min-width: 60vw;
  height: 60vh;
  // background-color: red;
}

.underline {
  position: absolute;
  top: 40px;
  left: 0;
  width: 73px;
  border-bottom: 3px solid $brown;
}
.work-headings {
  width: 100%;
  height: 40px;
  // background-color: blue;
  h2 {
    margin: 0;
    display: inline;
    color: $gray;
    position: absolute;
    top: 0;
    font-family: $opensans;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 40px;
    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(3) {
      right: 0;
    }
  }
}
